.table--wrapper{
  min-width: 960px;
  max-height: 600px;
  overflow: auto;
}

.table-full{
  width: 100%;
}

.table thead{
  background-color: rgb(226 232 240 / 0.8)
}

.table thead th:nth-child(1){
  max-width: 100px;
  border-right: 1px solid rgb(203 213 225);
  background-color: rgb(226 232 240 )
}

.table thead th:nth-child(2).px-3\.5{
  padding-left: 14px;
  padding-right: 14px;
}

.table thead th:nth-child(2).py-\[5px\]{
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .border-sky-300{
  border: 1.5px solid #5292f8;
  border-radius: 2px;
} */